@use '../variables' as *;
@use '../responsive' as *;




.contact{
    position: relative;
    top: 0;
    left: 0;

    color: $clr-light-blue;
    background-color: $clr-dark-beige;

    .contentContact{
        z-index: $avant-plan;
        height: 28.9rem;
        width: 100%;

        margin: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        
        h3{
            margin-bottom: 1rem;
            font-size: 2rem;
            font-family: "Stolzl-Medium";
        }
        p,li{
            font-size: 1.4rem;
            font-family: "Stolzl-Light";
            text-transform: uppercase;
        }
        ul{
            display:flex;
            flex-wrap:wrap;
            gap: 2rem;
        }

        &-left{ 
            max-width: 30rem;
            width: 100%;
            margin-left: 9%;

            & > :nth-child(2){
                margin-top: 4rem;
            }
          
            & :last-child{
                align-self: flex-end;
            }

            @include mq('mobile'){
                
            }
        }
        &-right{
            max-width: 34rem;
            width: 100%;
            margin-left: 9%;


            address{
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;

                a{
                    font-family: "Stolzl-Light";
                    font-size: 3.6rem;

                    @include mq('tablet'){
                        font-size: 2.8rem;
                    }
                }
            } 
            & :last-child {
                align-self: flex-end;
            }
        }
        a:hover{
            color: $clr-cuivre;
        }  

        @include mq('tablet'){
            margin-left: 0;
            max-width: 24rem;

            margin: 0 0 2rem 0;
        }
        @include mq('mobile'){
            
        }
    }
    .backgroundContact{
        z-index: $arriere-plan;
        
        position: absolute;
        bottom: -28rem;
        right: -38rem;
        width: 100%;
        max-width: 96.5rem;
        aspect-ratio: 1;

        background-image: url(../images/Picto_Monkey_beige.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }


    @include mq('tablet'){
        justify-content: space-evenly;
    }
}
