@use '../variables' as *;
@use '../responsive' as *;


.services{
    color: $clr-light-beige;
    background-color: $clr-light-blue;

    
    .servicesInfos{
        $width-p: 65rem;
        margin-left: calc(100% - $width-p);
        max-width: $width-p;
        width: 100%;

        
        font-size: 1.4rem;
        font-family: "Stolzl-Light";
        line-height: 2.24rem;

        column-count: 2;
        column-gap: 4em;
        
        @include mq('tablet'){
            margin-left: 0;
            max-width: 100%;
        }
        @include mq('mobile'){
            column-count: initial;
        }
    }
    .containerServices{
        height: auto;
        width: 100%;

        margin: 11.2rem 0 6rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}