@use 'variables' as *;
@use 'responsive' as *;

// ----| loader |----
.loader{
    z-index: 8;
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: $clr-dark-blue;

    .imageLoader{
        // width: auto;
        height: 20vh;
        aspect-ratio: 1;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/Picto_Monkey_beige.svg);
    }

    p,.loaderPercentage{
        margin-top: 2rem;
        font-size: 2rem;
        font-family: "Stolzl-Mideium";
    }
}
// ----| Bouton navigation dans le footer de section |----
.btn-nav{
    display: flex;
    justify-items: center;
    align-items: flex-end;
    gap: 1rem;
    .losange{
        width: 1.473rem;
        height: 2rem;
    }
    h3{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &:hover { 
        .losange{
            fill: $clr-cuivre;
        }
        h3{
            color: $clr-cuivre;
        }
    }
    &-beige{
        .losange{
            fill: $clr-light-beige;
        }
        h3{
            color: $clr-light-beige;
        }
    }
    &-blue{
        .losange{
            fill: $clr-light-blue;
        }
        h3{
            color: $clr-light-blue;
        }
    }

    @include mq('mobile'){
        .losange{
            width: 1.2rem;
            height: 1.4rem;
        }
        h3{
            font-size: 1.2rem;
        }
    }
}
// ----| Bouton Contact |----
.btn-contact{

    padding: 1.5rem 3rem;
    border-radius: 4rem;

    font-size: 1.4rem;
    font-family: $fnt-main;
    text-transform: uppercase;

    transition: background-color 300ms, color 300ms;

    &-beige{
        border: solid .1rem $clr-dark-beige;
        color: $clr-dark-beige;

        &:hover{
            color: $clr-dark-blue;
            background-color: $clr-dark-beige;
        }
    }
    &-blue{
        border: solid .1rem $clr-dark-blue;
        color: $clr-dark-blue;

        &:hover{
            color: $clr-light-beige;
            background-color: $clr-dark-blue;
        }
    }

    @include mq('mobile'){
        padding: 0.75rem 1.5rem;
        border-radius: 4rem;
    
        font-size: 1.2rem;
    }
}
// ----| Line square Separator|----
.separator{

    width: 100%;
    // height:1rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    
    
    .lineSquare{
        position: relative;
        width:100%;
        height: .1rem;

        
        &::before{
            content: '';
            position: absolute;
            top: 0; 
            left: 0;

            width: .7rem;
            aspect-ratio: 1;

            transform: translateY(-50%) rotate(45deg) ;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0; 
            right: 0;
    
            width: .7rem;
            aspect-ratio: 1;

            transform: translateY(-50%) rotate(45deg) ;
        }


        &-beige{
            background-color: $clr-light-beige;
            &::before{ 
                background-color: $clr-light-beige;
            }
            &::after{
                background-color: $clr-light-beige;
            }
        }
        &-blue{
            background-color: $clr-light-blue;
            &::before{ 
                background-color:$clr-light-blue;
            }
            &::after{
                background-color: $clr-light-blue;
            }
        }
    }
}
// ----| Footer section |----
.footerSection{
    z-index: $second-plan;

    width: 100%;
    height: 6.6rem;
    margin-top: 6rem;
    align-self: flex-end;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        // .informationsFooter{
        //     display: flex;
        //     gap: 4rem;
            
        //     font-size: 1rem;
        //     font-family: "Stolzl-Regular";
        //     color: $clr-light-blue;
        //     text-transform: uppercase;
        // }

        @include mq('tablet'){
            flex-wrap: wrap;
        }
    }
}
// ----| Controller slides show & arrow|----
.controllerSlideShow{
    
    max-width: 8rem;
    height: fit-content;
    margin-right: 4rem;
    padding-bottom: 2rem;


    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    .arrow{
        cursor: pointer;
        
        width:2rem;
        aspect-ratio: 1;
       
        fill: $clr-dark-blue;
        transition: fill 300ms;
        
        &:last-child{
            margin-left: 2rem;
        }
        
        &:hover{
            fill: $clr-electric-blue;
        }
        &.swiper-button-disabled {
            cursor: inherit;
            fill: rgba($clr-dark-blue, .3);
        }
    }
}
// ----| Cards slides show |----
.cardStaff{
    max-width: fit-content;
    height: 100%;

    // background: rgb(91, 236, 193);

    transition: transform 300ms;

    .imgStaff{
        height: 24rem;
        width: 17.2rem;
        border-radius: 17.2rem 17.2rem 17.2rem 0;

        background-image: url(../images/Flower-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .posteStaff{
        font-size: 1.4rem;
        font-family: "Stolzl-Light";
        letter-spacing: .1em;

        margin: 2rem 0 0 0;
        padding-bottom: .6rem;
        border-bottom: .1rem solid rgba($clr-electric-blue, .3);
    }
    .nameStaff{
        font-size: 1.8rem;
        font-family: "Stolzl-Regular";
        text-transform: uppercase;

        margin-top: 2rem;
    }  
}
// ----| Cards slides show |----
.cardService{
    cursor: pointer;

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    padding: 2rem 4rem;
    transition: height 300ms ease-in-out;
    
    overflow: hidden;

    .heading{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        // overflow: hidden;

        .serviceName{
            z-index: $first-plan;

            font-size: 3rem;
            text-transform: uppercase;
            font-family: "Stolzl-Medium";

            @include mq('mobile'){
                font-size: 2rem;
            }
        }
        .cross{
            z-index: $first-plan;

            width: 4rem;
            height: .2rem;

            position: relative;
            top: 0;
            left: 0;

            background-color: $clr-light-beige;
            transition: transform 300ms ease-in-out;

            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width:.2rem;
                height: 4rem;
                transform: translate(-50%, -50%);
                background-color: $clr-light-beige;
            }

            @include mq('mobile'){
                width: 2rem;

                &::after{
                    height: 2rem;
                }
            }
        }  

        &::after{
            z-index: $second-plan;

            content: "";
            position: absolute;
            top: -90rem;
            left: -90rem;
            width: 180rem;
            height: 181.4rem;


            background: radial-gradient(
                            47.97% 47.97% at 52.03% 50%,
                            $clr-dark-blue 0%, 
                            rgba(35, 45, 64, 0) 59.9%);
        }

        @include mq('mobile'){
            height: 2rem;
        }
    }
    .content {
        z-index: $last-plan;
        position: absolute;
        top: 0;
        left: 0;


        width: 100%;
        height: 100%;
        display: flex;
        gap: 8%;

        .servicePicture{
            position: absolute;
            top: -40rem;
            left: 0;

            width: 48.4%;
            height: 30rem;
    
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../images/3.jpg);

            @include mq('mobile'){
                width: 100%;
                height:  29rem;
            }
        }
        .serviceDescription{
            position: absolute;
            top: 0;
            left: -40rem;

            width: 32rem;
            height: auto;
            margin-top: 2rem;
            margin-right: 8rem;

            font-size: 1.5em;
            line-height: 2.25rem;
            font-family: "Stolzl-Light";


            @include mq('mobile'){
                width: 100%;
                margin-right: 0;
            }
        }

        @include mq('mobile'){
            flex-wrap: wrap;
            gap: 0;  
        }
    }
    .serviceBackground{
        z-index: $last-plan;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/3.jpg);
        
        opacity: 1;
        transition: opacity 200ms ease-in-out;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: rgba( $clr-light-blue, .5);
            transition: background-color 300ms ease-in-out;
        }
    }

    &:hover{
        .serviceBackground::before{
            background-color: rgba( $clr-light-blue, .2);
            transition: background-color 300ms ease-in-out;
        }
    }

    @include mq('mobile'){
        height: 6rem;
        padding: 2rem 2rem;
    }

  

    &.active{
        transition: height 300ms ease-in-out;
        height: 30rem;
        border-bottom: .1rem solid $clr-light-beige;

        
        .heading{
            .cross{
                transform: rotate(-45deg);
                transition: transform 300ms ease-in-out;
            }

            @include mq('mobile'){
                &::after{

                    top: -99rem;
                    left: -96rem;
                    width: 170rem;
                    height: 173.4rem;
                }
            }
        }

        .content{
            .servicePicture{
                top:0;
            }
            .serviceDescription{
                top: 30rem;
                left:0;
            }
        }
        .serviceDescription{
            z-index: 4;
        }
        .serviceBackground{
            opacity: 0;
            transition: opacity 200ms ease-in-out;
        }

        @include mq('mobile'){
            height: 60rem;
        }
    }
}
