@font-face {
    font-family: "Stolzl-Book";
    src: url("../fonts/Stolzl/Stolzl-Book.woff2") format("woff2"),
           url("../fonts/Stolzl/Stolzl-Book.woff") format("woff");
}
@font-face {
    font-family: "Stolzl-Bold";
    src: url("../fonts/Stolzl/Stolzl-Bold.woff2") format("woff2"),
           url("../fonts/Stolzl/Stolzl-Bold.woff") format("woff");
}
@font-face {
    font-family: "Stolzl-Regular";
    src: url("../fonts/Stolzl/Stolzl-Regular.woff2") format("woff2"),
           url("../fonts/Stolzl/Stolzl-Regular.woff") format("woff");
}
@font-face {
    font-family: "Stolzl-Medium";
    src: url("../fonts/Stolzl/Stolzl-Medium.woff2") format("woff2"),
           url("../fonts/Stolzl/Stolzl-Medium.woff") format("woff");
}
@font-face {
    font-family: "Stolzl-Light";
    src: url("../fonts/Stolzl/Stolzl-Light.woff2") format("woff2"),
           url("../fonts/Stolzl/Stolzl-Light.woff") format("woff");
}
@font-face {
    font-family: "Stolzl-Thin";
    src: url("../fonts/Stolzl/Stolzl-Thin.woff2") format("woff2"),
           url("../fonts/Stolzl/Stolzl-Thin.woff") format("woff");
}