//* ---------| Colors |---------
$clr-white              :  rgb(255,255,255);
$clr-white-opacity-06   :  rgba(255, 255, 255, 0.6);
$clr-off-white          :  rgb(244, 255, 254);
$clr-black              :  rgb(0,0,0);
$clr-black-opacity-03   :  rgba(0,0,0,0.3);
$clr-black-opacity-006  :  rgba(0,0,0,0.06);

$clr-main               :  rgb(193, 217, 217);
$clr-secondary          :  rgb(93, 207, 143);
$clr-accent             :  rgb(255, 67, 117);


//* ---------| Colors Sanzaru Events |---------
$clr-cuivre             :  rgb(192, 111, 87);
$clr-electric-blue      :  rgb(60, 99, 170);
$clr-dark-blue          :  rgb(21, 31, 54);
$clr-light-blue         :  rgb(35, 45, 64);
$clr-dark-beige         :  rgb(253, 232, 219);
$clr-light-beige        :  rgb(253, 244, 238);


//* palette de couleur (color-paletteN°-colorN°)
$clr-P1-C1              :  rgb(255, 99, 99);
$clr-P1-C2              :  rgb(255, 171, 118);
$clr-P1-C3              :  rgb(255, 253, 162);
$clr-P1-C4              :  rgb(186, 255, 180);
$clr-P1-C5              :  rgb(100, 182, 250);


//* ---------| fonts |---------
$fnt-size               :   1.6rem; 
$fnt-main               :   'Stolzl-Regular', sans-serif;
$fnt-title              :   'Stolzl-Book', sans-serif;
$fnt-second-title       :   'Stolzl-Light', sans-serif;

//* ---------| Z-index |---------
$first-plan          :   5;
$second-plan         :   4;
$third-plan          :   3;
$four-plan           :   2;
$last-plan           :   1;