@use '../../library' as *;



.services{
    color: $clr-light-beige;
    background-color: $clr-light-blue;

    &__description{
        $width-p: 60%;
        margin-left: calc(100% - $width-p);
        max-width: $width-p;
        width: 100%;
        
        font-size: 1.4rem;
        font-family: "Stolzl-Light";
        line-height: 2.24rem;

        column-count: 2;
        column-gap: 4em;
        
        @include max-mq('tablet-XL'){
            margin-left: 0;
            max-width: 100%;
        }
        @include max-mq('tablet'){
            column-count: initial;
        }
    }
    &__wrapper{
        height: auto;
        width: 100%;

        margin: 4rem 0;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}