html, body, a, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* now 1.5rem = 15px */
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Stolzl-Book";
  src: url("../fonts/Stolzl/Stolzl-Book.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Book.woff") format("woff");
}
@font-face {
  font-family: "Stolzl-Bold";
  src: url("../fonts/Stolzl/Stolzl-Bold.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Bold.woff") format("woff");
}
@font-face {
  font-family: "Stolzl-Regular";
  src: url("../fonts/Stolzl/Stolzl-Regular.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Regular.woff") format("woff");
}
@font-face {
  font-family: "Stolzl-Medium";
  src: url("../fonts/Stolzl/Stolzl-Medium.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Medium.woff") format("woff");
}
@font-face {
  font-family: "Stolzl-Light";
  src: url("../fonts/Stolzl/Stolzl-Light.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Light.woff") format("woff");
}
@font-face {
  font-family: "Stolzl-Thin";
  src: url("../fonts/Stolzl/Stolzl-Thin.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Thin.woff") format("woff");
}
.loader {
  z-index: 8;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: #151f36;
}
.loader .imageLoader {
  height: 20vh;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/Picto_Monkey_beige.svg);
}
.loader p, .loader .loaderPercentage {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "Stolzl-Mideium";
}

.btn-nav {
  display: flex;
  justify-items: center;
  align-items: flex-end;
  gap: 1rem;
}
.btn-nav .losange {
  width: 1.473rem;
  height: 2rem;
}
.btn-nav h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.btn-nav:hover .losange {
  fill: #c06f57;
}
.btn-nav:hover h3 {
  color: #c06f57;
}
.btn-nav-beige .losange {
  fill: #fdf4ee;
}
.btn-nav-beige h3 {
  color: #fdf4ee;
}
.btn-nav-blue .losange {
  fill: #232d40;
}
.btn-nav-blue h3 {
  color: #232d40;
}
@media screen and (max-width: 768px) {
  .btn-nav .losange {
    width: 1.2rem;
    height: 1.4rem;
  }
  .btn-nav h3 {
    font-size: 1.2rem;
  }
}

.btn-contact {
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  font-size: 1.4rem;
  font-family: "Stolzl-Regular", sans-serif;
  text-transform: uppercase;
  transition: background-color 300ms, color 300ms;
}
.btn-contact-beige {
  border: solid 0.1rem #fde8db;
  color: #fde8db;
}
.btn-contact-beige:hover {
  color: #151f36;
  background-color: #fde8db;
}
.btn-contact-blue {
  border: solid 0.1rem #151f36;
  color: #151f36;
}
.btn-contact-blue:hover {
  color: #fdf4ee;
  background-color: #151f36;
}
@media screen and (max-width: 768px) {
  .btn-contact {
    padding: 0.75rem 1.5rem;
    border-radius: 4rem;
    font-size: 1.2rem;
  }
}

.separator {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
.separator .lineSquare {
  position: relative;
  width: 100%;
  height: 0.1rem;
}
.separator .lineSquare::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.7rem;
  aspect-ratio: 1;
  transform: translateY(-50%) rotate(45deg);
}
.separator .lineSquare::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.7rem;
  aspect-ratio: 1;
  transform: translateY(-50%) rotate(45deg);
}
.separator .lineSquare-beige {
  background-color: #fdf4ee;
}
.separator .lineSquare-beige::before {
  background-color: #fdf4ee;
}
.separator .lineSquare-beige::after {
  background-color: #fdf4ee;
}
.separator .lineSquare-blue {
  background-color: #232d40;
}
.separator .lineSquare-blue::before {
  background-color: #232d40;
}
.separator .lineSquare-blue::after {
  background-color: #232d40;
}

.footerSection {
  z-index: 4;
  width: 100%;
  height: 6.6rem;
  margin-top: 6rem;
  align-self: flex-end;
}
.footerSection nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .footerSection nav {
    flex-wrap: wrap;
  }
}

.controllerSlideShow {
  max-width: 8rem;
  height: fit-content;
  margin-right: 4rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.controllerSlideShow .arrow {
  cursor: pointer;
  width: 2rem;
  aspect-ratio: 1;
  fill: #151f36;
  transition: fill 300ms;
}
.controllerSlideShow .arrow:last-child {
  margin-left: 2rem;
}
.controllerSlideShow .arrow:hover {
  fill: #3c63aa;
}
.controllerSlideShow .arrow.swiper-button-disabled {
  cursor: inherit;
  fill: rgba(21, 31, 54, 0.3);
}

.cardStaff {
  max-width: fit-content;
  height: 100%;
  transition: transform 300ms;
}
.cardStaff .imgStaff {
  height: 24rem;
  width: 17.2rem;
  border-radius: 17.2rem 17.2rem 17.2rem 0;
  background-image: url(../images/Flower-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardStaff .posteStaff {
  font-size: 1.4rem;
  font-family: "Stolzl-Light";
  letter-spacing: 0.1em;
  margin: 2rem 0 0 0;
  padding-bottom: 0.6rem;
  border-bottom: 0.1rem solid rgba(60, 99, 170, 0.3);
}
.cardStaff .nameStaff {
  font-size: 1.8rem;
  font-family: "Stolzl-Regular";
  text-transform: uppercase;
  margin-top: 2rem;
}

.cardService {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 2rem 4rem;
  overflow: hidden;
}
.cardService .heading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardService .heading .serviceName {
  z-index: 5;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Stolzl-Medium";
}
@media screen and (max-width: 768px) {
  .cardService .heading .serviceName {
    font-size: 2rem;
  }
}
.cardService .heading .cross {
  z-index: 5;
  width: 4rem;
  height: 0.2rem;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fdf4ee;
  transition: transform 300ms ease-in-out;
}
.cardService .heading .cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.2rem;
  height: 4rem;
  transform: translate(-50%, -50%);
  background-color: #fdf4ee;
}
@media screen and (max-width: 768px) {
  .cardService .heading .cross {
    width: 2rem;
  }
  .cardService .heading .cross::after {
    height: 2rem;
  }
}
.cardService .heading::after {
  z-index: 4;
  content: "";
  position: absolute;
  top: -90rem;
  left: -90rem;
  width: 180rem;
  height: 181.4rem;
  background: radial-gradient(47.97% 47.97% at 52.03% 50%, #151f36 0%, rgba(35, 45, 64, 0) 59.9%);
}
@media screen and (max-width: 768px) {
  .cardService .heading::after {
    top: -99rem;
    left: -96rem;
    width: 170rem;
    height: 173.4rem;
  }
}
@media screen and (max-width: 768px) {
  .cardService .heading {
    height: 2rem;
  }
}
.cardService .content {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 8%;
}
.cardService .content .servicePicture {
  z-index: 4;
  position: relative;
  top: 0;
  left: 0;
  width: 48.4%;
  height: 30rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/3.jpg);
}
@media screen and (max-width: 768px) {
  .cardService .content .servicePicture {
    width: 100%;
    height: 29rem;
  }
}
.cardService .content .serviceDescription {
  z-index: 3;
  position: relative;
  bottom: 0;
  left: 0;
  width: 32rem;
  height: auto;
  margin-top: 2rem;
  margin-right: 8rem;
  font-size: 1.5em;
  line-height: 2.25rem;
  font-family: "Stolzl-Light";
}
@media screen and (max-width: 768px) {
  .cardService .content .serviceDescription {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .cardService .content {
    flex-wrap: wrap;
    gap: 0;
  }
}
.cardService .serviceBackground {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/3.jpg);
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
.cardService .serviceBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 45, 64, 0.5);
}
.cardService:hover .serviceBackground::before {
  background-color: rgba(35, 45, 64, 0.2);
  transition: background-color 300ms ease-in-out;
}
@media screen and (max-width: 768px) {
  .cardService {
    height: 6rem;
    padding: 2rem 2rem;
  }
}
.cardService .borderBottom {
  z-index: 5;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: #fdf4ee;
}
.cardService.active .heading .cross {
  transform: rotate(-45deg);
  transition: transform 300ms ease-in-out;
}
@media screen and (max-width: 768px) {
  .cardService.active .heading::after {
    top: -99rem;
    left: -96rem;
    width: 170rem;
    height: 173.4rem;
  }
}

.allSection.home {
  min-height: 90rem;
  padding: 3rem 7rem;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}
.allSection.home header {
  z-index: 4;
  height: 12rem;
  width: 100%;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-items: center;
  align-items: center;
}
.allSection.home header .logoSanzaruEvents {
  justify-self: start;
  width: 15rem;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .allSection.home header .logoSanzaruEvents {
    width: 12rem;
  }
}
.allSection.home header .pictoMonkey {
  width: 12rem;
  aspect-ratio: 1;
}
@media screen and (max-width: 768px) {
  .allSection.home header .pictoMonkey {
    width: 6rem;
    justify-self: end;
  }
}
.allSection.home header nav {
  justify-self: end;
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2rem;
}
.allSection.home header nav a {
  font-size: 1.6rem;
  font-family: "Stolzl-Regular", sans-serif;
  text-transform: uppercase;
  transition: color 300ms;
}
.allSection.home header nav a:first-child {
  margin: 0;
}
.allSection.home header nav a:hover {
  color: #c06f57;
}
@media screen and (max-width: 768px) {
  .allSection.home header nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .allSection.home header {
    grid-template-columns: 50% 50%;
  }
}
.allSection.home h2 {
  z-index: 4;
  width: clamp(70rem, 100%, 100rem);
  text-align: center;
  font-size: 8.4rem;
  font-family: "Stolzl-Book";
  line-height: 10.1rem;
  letter-spacing: 1.65rem;
  text-transform: uppercase;
}
@media screen and (max-width: 960px) {
  .allSection.home h2 {
    font-size: 6rem;
    line-height: 8rem;
    letter-spacing: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .allSection.home h2 {
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: 1rem;
  }
}
.allSection.home .backgroundHome {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.allSection.home .backgroundHome .layerColor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 45, 64, 0.5);
}
.allSection.home .backgroundHome .layerColor::before {
  content: "";
  position: absolute;
  top: -54rem;
  left: -154rem;
  width: 298rem;
  height: 300rem;
  background: radial-gradient(47.97% 47.97% at 52.03% 50%, #151f36 0%, rgba(35, 45, 64, 0) 59.9%);
}
@media screen and (max-width: 768px) {
  .allSection.home {
    padding: 3rem 3rem;
  }
}

.about {
  color: #232d40;
  background-color: #fdf4ee;
}
.about .titleSection {
  max-width: 62.8rem;
  margin-bottom: 6rem;
}
.about .containerAboutInfos {
  width: 100%;
  height: 100%;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 12rem;
}
.about .containerAboutInfos .contentLeft {
  max-width: 62.8rem;
  width: 100%;
  height: 100%;
}
.about .containerAboutInfos .contentLeft h3 {
  font-size: 2rem;
  font-family: "Stolzl-Regular";
  line-height: 3rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.about .containerAboutInfos .contentLeft p {
  font-size: 1.4rem;
  font-family: "Stolzl-Light";
  line-height: 2.24rem;
  column-count: 2;
  column-gap: 4rem;
}
@media screen and (max-width: 768px) {
  .about .containerAboutInfos .contentLeft p {
    column-count: initial;
  }
}
.about .containerAboutInfos .contentRight {
  width: 100%;
  max-width: 50%;
  height: max-content;
  margin-top: -10rem;
  display: flex;
  flex-wrap: wrap;
}
.about .containerAboutInfos .contentRight .headingContentRight {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about .containerAboutInfos .contentRight .headingContentRight h3 {
  max-width: 100%;
  padding-bottom: 2rem;
  font-size: 2.4rem;
  font-family: "Stolzl-Light";
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.about .containerAboutInfos .contentRight .slider {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
}
.about .containerAboutInfos .contentRight .slider .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 500ms ease-in-out;
}
@media screen and (max-width: 960px) {
  .about .containerAboutInfos {
    flex-wrap: wrap;
  }
  .about .containerAboutInfos .contentLeft {
    margin-bottom: 8rem;
    max-width: 100%;
  }
  .about .containerAboutInfos .contentRight {
    max-width: 100%;
  }
}

.services {
  color: #fdf4ee;
  background-color: #232d40;
}
.services .servicesInfos {
  margin-left: calc(100% - 65rem);
  max-width: 65rem;
  width: 100%;
  font-size: 1.4rem;
  font-family: "Stolzl-Light";
  line-height: 2.24rem;
  column-count: 2;
  column-gap: 4em;
}
@media screen and (max-width: 960px) {
  .services .servicesInfos {
    margin-left: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .services .servicesInfos {
    column-count: initial;
  }
}
.services .containerServices {
  height: auto;
  width: 100%;
  margin: 11.2rem 0 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact {
  position: relative;
  top: 0;
  left: 0;
  color: #232d40;
  background-color: #fde8db;
}
.contact .contentContact {
  z-index: 4;
  height: auto;
  width: 100%;
  margin: 2rem 0;
  margin-left: 9%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.contact .contentContact h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: "Stolzl-Medium";
}
.contact .contentContact p, .contact .contentContact li {
  font-size: 1.4rem;
  font-family: "Stolzl-Light";
  text-transform: uppercase;
}
.contact .contentContact ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .contentContact div, .contact .contentContact address {
  height: fit-content;
}
.contact .contentContact .partUp {
  height: 18.6rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
@media screen and (max-width: 768px) {
  .contact .contentContact .partUp {
    max-height: 15rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
.contact .contentContact-left {
  max-width: 30rem;
}
.contact .contentContact-right {
  max-width: 34rem;
}
.contact .contentContact-right address a {
  font-family: "Stolzl-Light";
  font-size: 3.6rem;
}
@media screen and (max-width: 960px) {
  .contact .contentContact-right address a {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 960px) {
  .contact .contentContact {
    margin-left: 0;
    max-width: 24rem;
    margin: 0 0 2rem 0;
  }
}
@media screen and (max-width: 768px) {
  .contact .contentContact {
    margin: 4rem 0;
  }
}
.contact .backgroundContact {
  z-index: 1;
  position: absolute;
  bottom: -28rem;
  right: -38rem;
  width: 100%;
  max-width: 96.5rem;
  aspect-ratio: 1;
  background-image: url(../images/Picto_Monkey_beige.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .contact .backgroundContact {
    bottom: -10rem;
    right: -30rem;
    min-width: 62rem;
  }
}
@media screen and (max-width: 960px) {
  .contact {
    justify-content: space-around;
  }
}

html {
  color: #fdf4ee;
  font-family: "Stolzl-Regular", sans-serif;
  background-color: #c1d9d9;
}

body {
  background-color: #151f36;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
body a:hover {
  color: #c06f57;
}
body .allSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 7rem 7rem 3rem 7rem;
  overflow: hidden;
  border-radius: 4rem;
}
@media screen and (max-width: 768px) {
  body .allSection {
    padding: 3rem 3rem;
  }
}
body .titleSection {
  z-index: 4;
  width: 100%;
  margin-bottom: 6rem;
  font-size: 8.4rem;
  font-family: "Stolzl-Book";
  line-height: 8.8rem;
}
@media screen and (max-width: 768px) {
  body .titleSection {
    font-size: 6.4rem;
    line-height: 6rem;
  }
}
body .informationsFooter {
  width: 100%;
  min-height: 4rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  font-size: 1rem;
  color: #fdf4ee;
  text-transform: uppercase;
  font-family: "Stolzl-Regular";
}
@media screen and (max-width: 768px) {
  body .informationsFooter {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
