//---------------------------------------------------------------------------------------------------
//---------| For watch sass run |>      sass --watch src/style.scss:src/css/style.css     <|---------
//---------------------------------------------------------------------------------------------------
@use './Scss_library' as *;



html{
    color: $clr-light-beige;
    font-family: $fnt-main;
    
    background-color: $clr-main;
    scroll-behavior: smooth;
}
body {    
    background-color: $clr-dark-blue;

    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    padding: 1rem;

    @include mq(laptop){
        background-color: rgb(0, 255, 76);
    }
    @include mq(tablet){
        background-color: red;
    }
    @include mq(mobile){
        background-color: rgb(255, 174, 0);
    }
}