//---------------------------------------------------------------------------------------------------
//---------| For watch sass run |>      sass --watch src/style.scss:src/css/style.css     <|---------
//---------------------------------------------------------------------------------------------------
@use './Scss_library' as *;



html{
    color: $clr-light-beige;
    font-family: $fnt-main;
    
    background-color: $clr-main;
    scroll-behavior: smooth;
}
body {    
    background-color: $clr-dark-blue;

    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    padding: 1rem;
    
    @include mq(laptop){
        background-color: rgb(0, 255, 76);
    }
    @include mq(tablet){
        background-color: red;
    }
    @include mq(mobile){
        background-color: rgb(255, 174, 0);
    }

    .allSection{
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-wrap:wrap;
        
        padding: 7rem 7rem 3rem 7rem ;
        overflow: hidden;
        border-radius: 4rem;

        @include mq('mobile'){
            padding: 3rem 3rem;
        }
    }
    .titleSection {
        z-index: $avant-plan;

        width: 100%;
        margin-bottom: 6rem;

        font-size: 8.4rem;
        font-family: "Stolzl-Book";
        line-height: 8.8rem;

        @include mq('mobile'){
            font-size: 6.4rem;
            line-height: 6rem;
        }
    }
    .informationsFooter{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        gap: 2rem;

        font-size: 1rem;
        color:$clr-light-beige;
        text-transform: uppercase;
        font-family: "Stolzl-Regular";

        a:hover{
            color: $clr-cuivre;
        }
    }
}